asgiref==3.6.0
Django==4.2.11
sqlparse==0.4.4
Pillow==10.2.0
python-dotenv==1.0.1

# Admin and utilities
django-admin-generator==2.6.0
django-utils2==3.0.0
python-utils==3.5.2
six==1.16.0
django-admin-interface==0.28.6
django-nested-inline==0.4.6
django-import-export==3.3.8

# Filters and CORS
django-filter==23.2
django-cors-headers==3.14.0

# Dev tools
pylint==2.17.4
mypy==1.7.0
django-stubs==4.2.7

# Static files and storage
whitenoise==6.4.0
django-storages==1.13.2
django-filebrowser-no-grappelli==4.0.1

# ASGI/WSGI and server
gunicorn==20.1.0
psycopg[binary]


# Realtime and cache
redis==4.5.5
channels==4.0.0
daphne==4.0.0
channels-redis==4.1.0
pytz==2023.3

# API & DRF
djangorestframework==3.15.1
markdown==3.6
djangorestframework-datatables==0.7.1
drf-yasg


# Optional but referenced apps
# Version pins can be added as needed
django-autoslug
django-debug-toolbar
django-htmx
sentry-sdk[django]