{% load static %}
<!DOCTYPE html>

<html
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'application' %}"
  data-template="vertical-menu-template-no-customizer">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Register Basic - Pages | Vuexy - Bootstrap Admin Template</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'application/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'application/vendor/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/fonts/tabler-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/fonts/flag-icons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'application/vendor/css/rtl/core.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/css/rtl/theme-default.css' %}" />
    <link rel="stylesheet" href="{% static 'application/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'application/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/node-waves/node-waves.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/bs-stepper/bs-stepper.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/select2/select2.css' %}" />
      <!-- Vendor -->
    <link rel="stylesheet" href="{% static 'application/vendor/libs/formvalidation/dist/css/formValidation.min.css' %}" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="{% static 'application/vendor/css/pages/page-auth.css' %}" />
    <!-- Helpers -->
    <script src="{% static 'application/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js' %}" in the <head> section -->
    <script src="{% static 'application/vendor/js/template-customizer.js' %}"></script>
      <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'application/js/config.js' %}"></script>
  </head>

  <body>
    <div class="authentication-wrapper authentication-cover authentication-bg">
      <div class="authentication-inner row">
        <!-- Left Text -->
        <div
          class="d-none d-lg-flex col-lg-4 align-items-center justify-content-center p-5 auth-cover-bg-color position-relative auth-multisteps-bg-height">
          <img
            src="{% static 'application/img/illustrations/auth-register-multisteps-illustration.png' %}"
            alt="auth-register-multisteps"
            class="img-fluid"
            width="280" />

          <img
            src="{% static 'application/img/illustrations/bg-shape-image-light.png' %}"
            alt="auth-register-multisteps"
            class="platform-bg"
            data-app-light-img="illustrations/bg-shape-image-light.png"
            data-app-dark-img="illustrations/bg-shape-image-dark.png" />
        </div>
        <!-- /Left Text -->

        <!--  Multi Steps Registration -->
        <div class="d-flex col-lg-8 align-items-center justify-content-center p-sm-5 p-3">
          <div class="w-px-700">
            <div id="multiStepsValidation" class="bs-stepper shadow-none">
              <div class="bs-stepper-header border-bottom-0">
                <div class="step" data-target="#accountDetailsValidation">
                  <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle"><i class="ti ti-smart-home ti-sm"></i></span>
                    <span class="bs-stepper-label">
                      <span class="bs-stepper-title">Données de l'entreprise</span>
                    </span>
                  </button>
                </div>
                <div class="line">
                  <i class="ti ti-chevron-right"></i>
                </div>
                <div class="step" data-target="#personalInfoValidation">
                  <button type="button" class="step-trigger">
                    <span class="bs-stepper-circle"><i class="ti ti-users ti-sm"></i></span>
                    <span class="bs-stepper-label">
                      <span class="bs-stepper-title">Informations personnelles</span>
                    </span>
                  </button>
                </div>
                <div class="line">
                  <i class="ti ti-chevron-right"></i>
                </div>
              </div>
              <div class="bs-stepper-content">
                <form id="multiStepsForm" onSubmit="return false">
                  <!-- Account Details -->
                  <div id="accountDetailsValidation" class="content">
                    <div class="content-header mb-4">
                      <h3 class="mb-1">Données de l'entreprise</h3>
                      <p>Entrez les données de l'entreprise</p>
                    </div>
                    <div class="row g-3">
                      <div class="col-sm-6">
                        <label class="form-label" for="name">Nom du tenant</label>
                        <input type="text" id="name" class="form-control" placeholder="johndoe" />
                      </div>
                      <div class="col-sm-6">
                        <label class="form-label" for="uniqdomain">Nom du domaine</label>
                        <input type="text" id="uniqdomain" class="form-control" placeholder="flotteTaxi" />
                      </div>

                      <div class="col-12 d-flex justify-content-between mt-4">
                        <button class="btn btn-label-secondary btn-prev" disabled>
                          <i class="ti ti-arrow-left ti-xs me-sm-1 me-0"></i>
                          <span class="align-middle d-sm-inline-block d-none">Previous</span>
                        </button>
                        <button class="btn btn-primary btn-next">
                          <span class="align-middle d-sm-inline-block d-none me-sm-1 me-0">Next</span>
                          <i class="ti ti-arrow-right ti-xs"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- Personal Info -->
                  <div id="personalInfoValidation" class="content">
                    <div class="content-header mb-4">
                      <h3 class="mb-1">Informations personnelles</h3>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                          <label class="form-label" for="username">Nom d'utilisateur</label>
                          <input type="text" name="username" id="username" class="form-control" placeholder="John" />
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="formValidationEmail">Email</label>
                            <input
                              type="email"
                              name="email"
                              id="email"
                              class="form-control"
                              placeholder="john.doe@email.com"
                              aria-label="john.doe" />
                          </div>
                          <div class="col-sm-6">
                            <label class="form-label" for="lastname">Contact</label>
                            <input type="text" name="tel" id="contact" class="form-control" placeholder="0708674533" />
                          </div>
                          <div class="col-sm-6 form-password-toggle">
                            <label class="form-label" for="formValidationPass">Password</label>
                            <div class="input-group input-group-merge">
                              <input
                                type="password"
                                id="formValidationPass"
                                name="formValidationPass"
                                class="form-control"
                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                aria-describedby="formValidationPass2" />
                              <span class="input-group-text cursor-pointer" id="formValidationPass2"
                                ><i class="ti ti-eye-off"></i
                              ></span>
                            </div>
                          </div>
                        <div class="col-12 d-flex justify-content-between">
                          <button class="btn btn-label-secondary btn-prev">
                            <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                            <span class="align-middle d-sm-inline-block d-none">Previous</span>
                          </button>
                          <button class="btn btn-success btn-next btn-submit">Valider</button>
                        </div>
                      </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- / Multi Steps Registration -->
      </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js' %}" -->
    <script src="{% static 'application/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'application/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'application/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'application/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'application/vendor/libs/node-waves/node-waves.js' %}"></script>

    <script src="{% static 'application/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'application/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'application/vendor/libs/typeahead-js/typeahead.js' %}"></script>

    <script src="{% static 'application/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'application/vendor/libs/bs-stepper/bs-stepper.js' %}"></script>
    <script src="{% static 'application/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
    <script src="{% static 'application/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'application/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'application/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
    <script src="{% static 'application/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'application/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'application/js/pages-auth-multisteps.js' %}"></script>
  </body>
</html>
