{% extends 'bases/tenant/base.html' %}
{% load static %}

{% block typeJs %}
    <link rel="stylesheet" href="{% static 'application/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/flatpickr/flatpickr.css' %}" />
 {% endblock %}

    <!-- Content -->
 {% block tenant_content %}
  <div class="container-xxl flex-grow-1 container-p-y">
        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "SUCCESS" %}
                        <div id="alert"   class="col-lg-12 col-md-12 col-sm-12">
                           <div class="alert alert-success"  role="alert">
                              <strong>{{ message.tags }}</strong> {{ message }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                        </div>
                    {% else %}
                        <div id="alert"   class="col-lg-12 col-md-12 col-sm-12">
                           <div class="alert alert-danger"  role="alert">
                              <strong>{{ message.tags }}</strong> {{ message }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                           </div>
                        </div>
                    {% endif %}
                {% endfor %}
         {% endif %}
       <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Gestion de la flotte /</span> Gestion du conducteur</h4>
       <hr class="my-5" />
      <button  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNewDriver">
         <div style="align-items: center;">
            <i class="mb-3 ti ti-plus">Ajouter un conducteur</i>
         </div>
      </button>
      <br> <br>
       <!-- Responsive Datatable -->
       <div class="card">
                <h5 class="card-header">Gestion du conducteur</h5>
                <div class="card-datatable table-responsive">
                  <table class="dt-responsive table">
                    <thead>
                      <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Prénoms</th>
                        <th>Contact</th>
                        <th>Numéro du permis</th>
                        <th>Permis de conduire</th>
                        <th>Action</th>
                    </thead>
                      {% for driver in object_list %}
                      <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ driver.last_name }}</td>
                          <td>{{ driver.first_name }}</td>
                          <td>{{ driver.phone_number }}</td>
                          <td>{{ driver.license_number }}</td>
                          <td>{{ driver.driver_license }}</td>
                          <td>
                              <a href="{% url 'core:tenant:fleet:driver_detail' tenant=unique_domain pk=driver.id  %}" style="color: gray" class="dropdown-notifications-archive"
                                ><span class="ti ti-eye"></span
                              ></a>
                              <a href="{% url 'core:tenant:fleet:driver_update' tenant=unique_domain pk=driver.id  %}" style="color: blue" class="dropdown-notifications-archive"
                                ><span class="ti ti-edit-circle"></span
                              ></a>
                              <a href="{% url 'core:tenant:fleet:delete_tenant_driver' tenant=unique_domain type_id=driver.id  %}" style="color: red" class="dropdown-notifications-archive"
                                ><span class="ti ti-trash"></span
                              ></a>
                          </td>
                      </tr>
                      {% endfor %}
                  </table>
                </div>
              </div>
              <!--/ Responsive Datatable -->
                <!-- Add New driver Modal -->
                <div class="modal fade" id="addNewDriver" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
                    <div class="modal-content p-3 p-md-5">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-4">
                          <h3 class="address-title mb-2">Ajouter un conducteur</h3>
                        </div>
                        <form id="addNewVehiculeForm" method="post" enctype="multipart/form-data" class="row g-3" action="{% url 'core:tenant:fleet:add_tenant_driver' tenant=unique_domain %}">
                            {% csrf_token %}
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalCarVehicule">Nom</label>
                            <input
                              type="text"
                              id="modalAddressFirstName"
                              name="last_name"
                              class="form-control"
                              placeholder="Koné" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLastName">Prénoms</label>
                            <input
                              type="text"
                              id="modalAddressLastName"
                              name="first_name"
                              class="form-control"
                              placeholder="Donatien" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLandmark">Contact</label>
                            <input
                              type="text"
                              id="modalAddressLandmark"
                              name="phone_number"
                              class="form-control"
                              placeholder="0102567844" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressCity">Numéro de permis</label>
                            <input
                              type="text"
                              id="modalAddressCity"
                              name="license_number"
                              class="form-control"
                              placeholder="Rouge" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label for="formFile" class="form-label">Permis de conduire</label>
                            <input name="driver_license" class="form-control" type="file" id="formFile" />
                          </div>

                          <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1">Ajouter</button>
                            <button
                              type="reset"
                              class="btn btn-label-secondary"
                              data-bs-dismiss="modal"
                              aria-label="Close">
                              Annuler
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Add New driver -->

            </div>
 {% endblock %}


 {% block befMain %}
    <!-- Vendors JS -->
    <script src="{% static 'application/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <!-- Flat Picker -->
    <script src="{% static 'application/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'application/vendor/libs/flatpickr/flatpickr.js' %}"></script>
 {% endblock %}


  {% block afMain %}
    <!-- Page JS -->
    <script src="{% static 'application/js/tables-datatables-advanced.js' %}"></script>
  {% endblock %}

  {% block notification_script %}
    <script>
    {% if messages %}
        {% for message in messages %}
            $('#alert-{{forloop.counter }}').toast('show');
        {% endfor %}
    {% endif %}
    </script>
 {% endblock %}