{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
                <img src="{% static 'application/img/logo/logo2WBck.png' %}" alt="" style="width: 100%; height: 100%; margin-top: -23%">
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
              <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboards -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-smart-home"></i>
                <div data-i18n="Dashboards">Dashboard</div>
              </a>
            </li>


            <!-- Apps & Pages -->

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Application</span>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons ti ti-car"></i>
                  <div>Gestion de la flotte</div>
                </a>
                <ul class="menu-sub">
                  <li class="menu-item">
                    <a href="{% url 'core:tenant:fleet:car_list' tenant=unique_domain %}" class="menu-link">
                      <div>Gestion d'une voiture</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'core:tenant:fleet:driver_list' tenant=unique_domain %}" class="menu-link">
                      <div>Gestion du driver</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'core:tenant:fleet:contract_list' tenant=unique_domain %}" class="menu-link">
                      <div>Gestion des contrats </div>
                    </a>
                  </li>
                </ul>
              </li>
          </ul>
        </aside>