{% extends 'bases/tenant/base.html' %}
{% load static %}

{% block typeJs %}
    <link rel="stylesheet" href="{% static 'application/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/flatpickr/flatpickr.css' %}" />
 {% endblock %}

    <!-- Content -->
 {% block tenant_content %}
  <div class="container-xxl flex-grow-1 container-p-y">
        {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "SUCCESS" %}
                        <div id="alert"   class="col-lg-12 col-md-12 col-sm-12">
                           <div class="alert alert-success"  role="alert">
                              <strong>{{ message.tags }}</strong> {{ message }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                        </div>
                    {% else %}
                        <div id="alert"   class="col-lg-12 col-md-12 col-sm-12">
                           <div class="alert alert-danger"  role="alert">
                              <strong>{{ message.tags }}</strong> {{ message }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                           </div>
                        </div>
                    {% endif %}
                {% endfor %}
         {% endif %}
       <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Gestion de flotte /</span> Gestion de voiture</h4>
       <hr class="my-5" />
   <h5>Modifier ce contrat </h5>

              <hr class="my-5" />

              <!-- Responsive Datatable -->
              <form id="updateContractForm" method="post" class="row g-3" action="{% url 'core:tenant:finance:update_tenant_insurance' tenant=unique_domain type_id=object.id %}">
                  {% csrf_token %}
                <div class="col-12 col-md-6">
                  <label class="form-label" for="modalAddressLastName">Vehicule</label>
                   <select name="car" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                     {% for car in cars %}
                         <option value="{{ car.id }}">{{ car.matriculation }}</option>
                      {% endfor %}
                  </select>
                </div>
               <div class="col-12 col-md-6">
                   <label class="form-label" for="modalAddressLastName">Compagnie d'assurance</label>
                   <input
                              type="text"
                              id="modalAddressLastName"
                              name="insurance_company"
                              class="form-control"
                              value="{{ object.insurance_company }}" />
               </div>

                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLandmark">Montant mensuel </label>
                            <input
                              type="text"
                              id="modalAddressLandmark"
                              name="monthly_amount"
                              class="form-control"
                              value="{{ object.monthly_amount }}" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressCity">Dernier paiement </label>
                            <input
                              type="number"
                              id="modalAddressCity"
                              name="last_payment"
                              class="form-control"
                              value="{{ object.last_payment }}" />
                          </div>
                           <div class="col-12 col-md-6">
                            <label for="html5-date-input" class="col-md-2 col-form-label"> Date d'échéance paiement</label>
                            <div class="col-md-10">
                              <input class="form-control" name="due_date" type="datetime-local" value="{{ object.due_date }}" id="html5-date-input" />
                            </div>
                        </div>
                         <div class="col-12 col-md-6">
                        <label for="html5-date-input" class="col-md-2 col-form-label">Prochaine date paiement</label>
                        <div class="col-md-10">
                          <input class="form-control" name="next_date" type="datetime-local" value="{{ object.next_date }}" id="html5-date-input" />
                        </div>
                      </div>

                    <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1">Modifier</button>
                            <button
                              type="reset"
                              class="btn btn-label-secondary"
                              data-bs-dismiss="modal"
                              aria-label="Close">
                              Annuler
                            </button>
                          </div>

              </form>
              <!--/ Responsive Datatable -->
  </div>

 {% endblock %}


 {% block befMain %}
    <!-- Vendors JS -->
    <script src="{% static 'application/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <!-- Flat Picker -->
    <script src="{% static 'application/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'application/vendor/libs/flatpickr/flatpickr.js' %}"></script>
 {% endblock %}


  {% block afMain %}
    <!-- Page JS -->
    <script src="{% static 'application/js/tables-datatables-advanced.js' %}"></script>
  {% endblock %}