{% extends 'bases/tenant/base.html' %}
{% load static %}

{% block typeJs %}
    <link rel="stylesheet" href="{% static 'application/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/flatpickr/flatpickr.css' %}" />
 {% endblock %}

    <!-- Content -->
 {% block tenant_content %}
  <div class="container-xxl flex-grow-1 container-p-y">
       <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Gestion de flotte /</span> Gestion de voiture</h4>
       <hr class="my-5" />
   <h5>Détails de contrat</h5>

              <hr class="my-5" />

              <!-- Responsive Datatable -->
              <form id="addContractForm" class="row g-3">
                   <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLastName">Véhicule</label>
                            <select name="car" class="form-select" id="exampleFormControlSelect1"
                                    disabled aria-label="Default select example">
                                {% for car in cars %}
                                    <option value="{{ car.id }}">{{ car.matriculation }}</option>
                                {% endfor %}
                            </select>
                         </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLastName">Compagnie d'assurance</label>
                            <input
                              type="text"
                              disabled
                              id="modalAddressLastName"
                              name="insurance_company"
                              class="form-control"
                              placeholder="BNI" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLandmark">Montant mensuel </label>
                            <input
                              type="number"
                              disabled
                              id="modalAddressLandmark"
                              name="monthly_amount"
                              class="form-control"
                              placeholder="12400" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressCity">Dernier paiement </label>
                            <input
                              type="number"
                              disabled
                              id="modalAddressCity"
                              name="last_payment"
                              class="form-control"
                              placeholder="12344444" />
                          </div>
                        <div class="col-12 col-md-6">
                            <label for="html5-date-input" class="col-md-2 col-form-label"> Date d'échéance paiement</label>
                            <div class="col-md-10">
                              <input class="form-control" disabled name="due_date" type="datetime-local" value="2021-06-18" id="html5-date-input" />
                            </div>
                        </div>
                         <div class="col-12 col-md-6">
                        <label for="html5-date-input" class="col-md-2 col-form-label"> Prochaine date paiement </label>
                        <div class="col-md-10">
                          <input class="form-control" disabled name="next_date" type="datetime-local" value="2021-06-18" id="html5-date-input" />
                        </div>
                      </div>

              </form>
              <!--/ Responsive Datatable -->
  </div>

 {% endblock %}


 {% block befMain %}
    <!-- Vendors JS -->
    <script src="{% static 'application/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <!-- Flat Picker -->
    <script src="{% static 'application/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'application/vendor/libs/flatpickr/flatpickr.js' %}"></script>
 {% endblock %}


  {% block afMain %}
    <!-- Page JS -->
    <script src="{% static 'application/js/tables-datatables-advanced.js' %}"></script>
  {% endblock %}