{% extends 'bases/tenant/base.html' %}
{% load static %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'application/vendor/libs/apex-charts/apex-charts.css' %}" />
    {% endblock %}


{% block tenant_content %}
<!-- Content wrapper -->
<div class="content-wrapper">
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
      <!-- Statistics -->
        <div class="col-12">
          <div class="card h-100">
            <div class="card-header">
              <div class="d-flex justify-content-between mb-3">
                <h5 class="card-title mb-0">Statistiques</h5>
                <small class="text-muted">Mis à jour il y a moins d'un jour</small>
              </div>
            </div>
            <div class="card-body">
              <div class="row gy-3">
                <div class="col-md-3 col-6">
                  <div class="d-flex align-items-center">
                    <div class="badge rounded-pill bg-label-primary me-3 p-2">
                      <i class="ti ti-users ti-sm"></i>
                    </div>
                    <div class="card-info">
                      <h5 class="mb-0">{{ drivers_number }}</h5>
                      <small>Chauffeurs</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="d-flex align-items-center">
                    <div class="badge rounded-pill bg-label-info me-3 p-2">
                      <i class="ti ti-car ti-sm"></i>
                    </div>
                    <div class="card-info">
                      <h5 class="mb-0">{{ cars_number }}</h5>
                      <small>Voitures</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="d-flex align-items-center">
                    <div class="badge rounded-pill bg-label-danger me-3 p-2">
                      <i class="ti ti-paper-bag ti-sm"></i>
                    </div>
                    <div class="card-info">
                      <h5 class="mb-0">{{ contract_number }}</h5>
                      <small>Contrats</small>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-6">
                  <div class="d-flex align-items-center">
                    <div class="badge rounded-pill bg-label-success me-3 p-2">
                      <i class="ti ti-currency-dollar ti-sm"></i>
                    </div>
                    <div class="card-info">
                      <h5 class="mb-0">{{ payment_number }}</h5>
                      <small>Versements</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      <br>
      <!--/ Statistics -->
  </div>
    <br> <br> <br>
    <div class="row">
         <div class="col-12 col-lg-8 mb-4">
                  <div class="card">
                    <div class="card-header pb-3">
                      <h5 class="m-0 card-title">Reporting annuel</h5>
                    </div>
                    <div class="card-body">
                      <div class="row row-bordered g-0">
                        <div class="col-md-8">
                          <div id="totalRevenueChart"></div>
                        </div>
                        <div class="col-md-4">
                          <div class="text-center mt-4">
                            <div class="dropdown">
                              <button
                                class="btn btn-sm btn-outline-primary dropdown-toggle"
                                type="button"
                                id="budgetId"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <script>
                                  document.write(new Date().getFullYear());
                                </script>
                              </button>
                              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="budgetId">
                                <a class="dropdown-item prev-year1" href="javascript:void(0);">
                                  <script>
                                    document.write(new Date().getFullYear() - 1);
                                  </script>
                                </a>
                                <a class="dropdown-item prev-year2" href="javascript:void(0);">
                                  <script>
                                    document.write(new Date().getFullYear() - 2);
                                  </script>
                                </a>
                                <a class="dropdown-item prev-year3" href="javascript:void(0);">
                                  <script>
                                    document.write(new Date().getFullYear() - 3);
                                  </script>
                                </a>
                              </div>
                            </div>
                          </div>
                          <h3 class="text-center pt-4 mb-0">2582500 Francs CFA</h3>
                          <p class="mb-4 text-center"><span class="fw-semibold">Budget: </span>56800 Francs CFA</p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          <div class="col-12 col-xl-4 col-md-6 order-3">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between pb-1">
                      <h5 class="mb-0 card-title">Totaux revenus </h5>
                      <div class="dropdown">
                        <button
                          class="btn p-0"
                          type="button"
                          id="totalEarning"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                          <i class="ti ti-dots-vertical ti-sm text-muted"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarning">
                          <a class="dropdown-item" href="javascript:void(0);">View More</a>
                          <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <h1 class="mb-0 me-2">87%</h1>
                        <i class="ti ti-chevron-up text-success me-1"></i>
                        <p class="text-success mb-0">25.8%</p>
                      </div>
                      <div id="totalEarningChart"></div>
                      <div class="d-flex align-items-start my-4">
                        <div class="badge rounded bg-label-danger p-2 me-3 rounded">
                          <i class="ti ti-currency-frank ti-sm"></i>
                        </div>
                        <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                          <div class="me-2">
                            <h6 class="mb-0">Total Gains</h6>
                          </div>
                          <p class="mb-0 text-success">+12600 Francs CFA</p>
                        </div>
                      </div>
                      <div class="d-flex align-items-start">
                        <div class="badge rounded bg-label-primary p-2 me-3 rounded">
                          <i class="ti ti-currency-dollar ti-sm"></i>
                        </div>
                        <div class="d-flex justify-content-between w-100 gap-2 align-items-center">
                          <div class="me-2">
                            <h6 class="mb-0">Totaux Dépenses</h6>
                          </div>
                          <p class="mb-0 text-success">+10000 Francs CFA</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

    </div>
    <br> <br>
</div>
<!-- / Content -->

<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl">
    <div
      class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
      <div>
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by P&J Enterprise
      </div>
      <div>
        <a
          href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/"
          target="_blank"
          class="footer-link me-4"
          ></a
        >
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
{% endblock %}

 {% block before_main_js %}
     <script src="{% static 'application/vendor/libs/apex-charts/apexcharts.js' %}"></script>
 {% endblock %}

{% block after_main_js %}
    <script src="{% static 'application/js/cards-analytics.js' %}"></script>
    {% endblock %}