{% extends 'bases/tenant/base.html' %}
{% load static %}

{% block typeJs %}
    <link rel="stylesheet" href="{% static 'application/vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'application/vendor/libs/formvalidation/dist/css/formValidation.min.css' %}" />
 {% endblock %}

    <!-- Content -->
 {% block tenant_content %}
     <div class="container-xxl flex-grow-1 container-p-y">
         <!-- Users List Table -->
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Gestion de flotte /</span> Gestion de voiture</h4>
           <hr class="my-5" />
           <button  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNewVehicule">
             <div style="align-items: center;">
                <i class="mb-3 ti ti-plus">Ajouter un utilisateur</i>
             </div>
           </button>
          <br> <br>
              <div class="card">

                <div class="card-datatable table-responsive">
                  <table class="datatables-users table border-top">
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Prénoms</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                      {% for us in object_list %}
                      <tr>
                          <td>{{ us.user.last_name }}</td>
                          <td>{{ us.user.first_name }}</td>
                          <td>{{ us.user.username }}</td>
                          <td>{{ us.user.email }}</td>
                          <td>{{ us.contact }}</td>
                          <td>
                              <a href="{% url 'core:tenant:delete_tenant_user' tenant=unique_domain type_id=us.id  %}" style="color: red" class="dropdown-notifications-archive"
                                ><span class="ti ti-trash"></span
                              ></a>
                          </td>
                      </tr>
                       {% endfor %}
                  </table>
                </div>

              </div>
     </div>
     <!-- Add New user Modal -->
                <div class="modal fade" id="addNewVehicule" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
                    <div class="modal-content p-3 p-md-5">
                      <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-4">
                          <h3 class="address-title mb-2">Ajouter un utilisateur</h3>
                        </div>
                        <form id="addNewVehiculeForm" method="post" class="row g-3" action="{% url 'core:tenant:add_tenant_user' tenant=unique_domain %}">
                            {% csrf_token %}
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalCarVehicule">Nom</label>
                            <input
                              type="text"
                              id="modalAddressFirstName"
                              name="last_name"
                              class="form-control"
                              placeholder="Koffi" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLastName">Prénoms</label>
                            <input
                              type="text"
                              id="modalAddressLastName"
                              name="first_name"
                              class="form-control"
                              placeholder="Grégoire Ange" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressLandmark">Username</label>
                            <input
                              type="text"
                              id="modalAddressLandmark"
                              name="username"
                              class="form-control"
                              placeholder="Gregou" />
                          </div>
                          <div class="col-12 col-md-6">
                            <label class="form-label" for="modalAddressCity">Email</label>
                            <input
                              type="text"
                              id="modalAddressCity"
                              name="email"
                              class="form-control"
                              placeholder="ange@mail.com" />
                          </div>
                          <div class="col-12">
                            <label class="form-label" for="modalAddressCity">Contact</label>
                            <input
                              type="text"
                              id="modalAddressCity"
                              name="contact"
                              class="form-control"
                              placeholder="+225 0102725644" />
                          </div>

                          <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1">Ajouter</button>
                            <button
                              type="reset"
                              class="btn btn-label-secondary"
                              data-bs-dismiss="modal"
                              aria-label="Close">
                              Annuler
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Add New vehicule -->


 {% endblock %}


 {% block befMain %}
    <!-- Vendors JS -->
    <script src="{% static 'application/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'application/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <script src="{% static 'application/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'application/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'application/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
    <script src="{% static 'application/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>
    <script src="{% static 'application/vendor/libs/cleavejs/cleave.js' %}"></script>
    <script src="{% static 'application/vendor/libs/cleavejs/cleave-phone.js' %}"></script>
 {% endblock %}


  {% block afMain %}
    <!-- Page JS -->
    <script src="{% static 'application/js/app-user-list.js' %}"></script>
  {% endblock %}